{% extends '_base.twig' %}

{% set page_header = 'ویرایش پروفایل' %}
{% set page_header_icon = 'fa fa-user-edit' %}

{% set top_buttons = [
	{
		title:'اعمال تغییرات',
		type:'primary',
		class:'disabled btn_submit',
		attr:"onclick='$(\"#form_profile\").submit()'"
	}
] %}

{% block css_files %}
<link rel="stylesheet" type="text/css" href="{{base_url()}}assets/css/plugins/iCheck/custom.css">
{% endblock %}

{% block js_files %}
<script src="{{base_url()}}assets/js/plugins/iCheck/icheck.min.js"></script>
{% endblock %}

{% block content %}
{# {{dump()}} #}
<div class="card card-body shadow">
	{{form_open_multipart('', {'data-parsley-validate':'', 'id':'form_profile', 'class':'disable_submit_initially'})}}
	<div class="form-group">
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="username">نام کاربری :</label>
					<input type="text" name="username" id="username" class="form-control" autocomplete="username" required {# data-parsley-required-message="نام کاربری را وارد کنید" data-parsley-remote="{{base_url()}}users/ajax_username_exists/{value}" data-parsley-remote-reverse="true" data-parsley-remote-message="این نام کاربری قبلا ثبت شده است" #} value="{{user.username}}">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="company">شرکت :</label>
					<select name="company_id" id="company" class="form-control">
						{# <option value="null">نا مشخص</option> #}
						{% for company in companies %}
							<option value="{{company.id}}" {% if user.company_id == company.id %}selected{% endif %}>{{company.title}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="first_name">نام :</label>
					<input type="text" name="first_name" id="first_name" class="form-control" autocomplete="name" value="{{user.first_name}}">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="last_name">نام خانوادگی :</label>
					<input type="text" name="last_name" id="last_name" class="form-control" autocomplete="family-name" value="{{user.last_name}}">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="mobile_number">تلفن همراه :</label>
					<input type="text" name="mobile_number" id="mobile_number" class="form-control" autocomplete="mobile" pattern="^09\d{9}$" data-parsley-pattern-message="شماره تلفن همراه اشتباه است" value="{{user.mobile_number}}">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="phone_number">تلفن ثابت :</label>
					<input type="text" name="phone_number" id="phone_number" class="form-control" autocomplete="tel" pattern="^\d{8,12}$" data-parsley-pattern-message="شماره تلفن اشتباه است" value="{{user.phone_number}}">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="address">آدرس پستی :</label>
					<input type="text" name="address" id="address" class="form-control" autocomplete="street-address" value="{{user.address}}">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="date_birth">تاریخ تولد :</label>
					<input type="text" name="date_birth" id="date_birth" class="form-control" autocomplete="bday" placeholder="0000-00-00" pattern="^\d{4}-\d{1,2}-\d{1,2}$" data-parsley-pattern-message="فرمت تاریخ تولد باید به صورت 0000-00-00 باشد" value="{{user.date_birth}}">
				</div>
			</div>
		</div>
		<div class="hr-line-dashed"></div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="image_file">تصویر پروفایل جدید:</label>
					<div class="custom-file">
						<input type="file" name="image_file" class="custom-file-input" value="انتخاب">
						<div for="image_file" class="custom-file-label">تصویر پروفایل</div>
					</div>
				</div>
				<span class="form-text mt-0">تصویر باید با فرمت jpg، gif یا png و با حداکثر اندازه 500kB باشد.</span>
			</div>
		</div>
		<div class="hr-line-dashed"></div>
		<div class="row">
			<div class="col-sm-6 my-3">
				<label>
					<input type="checkbox" id="chk_change_pass">
					تغییر کلمه عبور
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="password">کلمه عبور :</label>
					<input disabled type="password" name="password" id="password" class="form-control" autocomplete="new-password" required pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" data-parsley-required-message="کلمه عبور را وارد کنید" data-parsley-pattern-message="کلمه عبور باید حداقل ۸ حرف و شامل حروف بزرگ، کوچک و یک رقم یا کاراکتر خاص باشد." data-parsley-excluded="true">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="repassword">تکرار کلمه عبور :</label>
					<input disabled type="password" name="repassword" id="repassword" class="form-control" required autocomplete="new-password" data-parsley-equalto="#password" data-parsley-equalto-message="هر دو کلمه عبور باید یکسان باشند" data-parsley-excluded="true">
				</div>
			</div>
		</div>
{# 		<div class="form-group">
			<input type="submit" value="ارسال" class="btn btn-primary btn-submit">
		</div>
 #}	</div>
	<input type="hidden" name="id" value="{{user.id}}">
	{{form_close()}}
</div>
<script type="text/javascript">

	jQuery(document).ready(function($) {
		
		// Toggle password fields
		$('#chk_change_pass').on('change', function() {

			if ($(this).is(':checked')) {
				$('[name=password],[name=repassword]')
				.prop('disabled', false)
				.prop('data-parsley-excluded', 'false');
			}
			else {
				$('[name=password],[name=repassword]')
				.prop('disabled', true)
				.prop('data-parsley-excluded', 'true');
			}
		});
	});

</script>
{% endblock %}