{% extends '_base.twig' %}

{% set page_header = 'ثبت نام' %}

{% block content %}
	<div class="container my-5">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="card border-primary shadow">
					<div class="card-header bg-primary text-white">
						فرم ثبت نام
					</div>
					<div class="card-body">
						<form id="form_register" method="post" data-parsley-validate="">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="username">نام کاربری :</label>
										<input type="text" data-parsley-trigger="keyup" name="username" id="username" class="form-control" autocomplete="username" required data-parsley-required-message="نام کاربری را وارد کنید" disabled_____data-parsley-remote="{{base_url()}}users/ajax_username_exists/{value}" data-parsley-remote-reverse="true" data-parsley-remote-message="این نام کاربری قبلا ثبت شده است">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="company">شرکت :</label>
										<select name="company_id" id="company" class="form-control">
											{% for company in companies %}
												<option value="{{company.id}}">{{company.title}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="password">کلمه عبور :</label>
										<input type="password" name="password" id="password" class="form-control" autocomplete="new-password" required pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" data-parsley-required-message="کلمه عبور را وارد کنید" data-parsley-pattern-message="کلمه عبور باید حداقل ۸ حرف و شامل حروف بزرگ، کوچک و یک رقم یا کاراکتر خاص باشد.">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="repassword">تکرار کلمه عبور :</label>
										<input type="password" name="repassword" id="repassword" class="form-control" required autocomplete="new-password" data-parsley-equalto="#password" data-parsley-equalto-message="هر دو کلمه عبور باید یکسان باشند">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="first_name">نام :</label>
										<input type="text" name="first_name" id="first_name" class="form-control" autocomplete="name">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="last_name">نام خانوادگی :</label>
										<input type="text" name="last_name" id="last_name" class="form-control" autocomplete="family-name">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="mobile_number">تلفن همراه :</label>
										<input type="text" name="mobile_number" id="mobile_number" class="form-control" autocomplete="mobile" pattern="^09\d{9}$" data-parsley-pattern-message="شماره تلفن همراه اشتباه است">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="phone_number">تلفن ثابت :</label>
										<input type="text" name="phone_number" id="phone_number" class="form-control" autocomplete="tel" pattern="^\d{8,12}$" data-parsley-pattern-message="شماره تلفن اشتباه است">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="address">آدرس پستی :</label>
										<input type="text" name="address" id="address" class="form-control" autocomplete="street-address">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="date_birth">تاریخ تولد :</label>
										<input type="text" name="date_birth" id="date_birth" class="form-control" autocomplete="bday" placeholder="0000-00-00" pattern="^\d{4}-\d{1,2}-\d{1,2}$" data-parsley-pattern-message="فرمت تاریخ تولد اشتباه است" value="1975-01-01">
									</div>
								</div>
							</div>
							<div class="form-group">
								<input type="submit" value="ثبت نام" class="btn btn-primary btn-submit">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>

	$(document).ready(function(){

		// On submit
		$('#form_register').submit(function(e){

			// Prevent normal submittion
			e.preventDefault();

			// If the form is not validated yet, skip
			if (! $('#form_register').parsley().isValid()) {
				return;
			}

			// gather data
			var data = $('#form_register').serialize();

			// send data to server
			$.post('{{base_url()}}register/ajax_register',data , function(data, textStatus, xhr) {
				// If success
				if (data.code == 0) {

					// Show success emssage
					modal_message('ثبت نام با موفقیت انجام شد', 'success', function(event) {
						// Redirect to login page
						window.location = "{{base_url()}}/login";
					});
				}
				else {

					// Show error message
					modal_message(data.message, 'danger');
				}
			}, "json");
		});

		// Add persian date picker
		$('[name=date_birth]').pDatepicker({
			'format': 'YYYY-MM-DD',
			'calendar':{
				'persian':{
					'locale': 'en'
				}
			},
		});
	});
	</script>
{% endblock %}